
%h1 About Us
%p
    -tutorial = "Ruby on Rails Tutorial"
    -ror = "Ruby on Rails"
    %a{ :href => "http://railstutorial.org", :title => tutorial }
        =tutorial
    is a project to make a book and screencasts to teach web development with 
    %a{ :href => "http://rubyonrails.org/", :title => ror }
        =ror
    \. This is the sample application for the tutorial.
